@import url(./assets/fonts/fonts.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: Mulish;
		font-weight: 600;
		@apply text-tennis-orange;
	}

	.title, .card-text {
		font-family: Montserrat;
		font-weight: 700;
		@apply text-tennis-orange;
	}

	.subtitle {
		font-family: Mulish;
		font-weight: 700;
		@apply opacity-30;
		@apply text-black;
	}
}

